/* Added by Chris Voorberg - April 23, 2013 */

#contact_form {
	padding:50px 0;
	margin:0 auto;
	width:550px;
}

#contact_list {
	width:750px;
	margin:0 auto;
	padding:20px 0;
}

table {
	margin-top:30px;
}

td {
	padding:6px;
}

.contact {
	border:1px solid gray;
	border-radius: 6px;
	padding:10px 0;
	margin:10px 0;
}

.contact h4 {
	margin-bottom:-20px;
}

.contact table {
	margin-left:50px;
}