/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



































/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define visible focus styles! 
:focus {
    outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ==========================================================================
   General styles
   ========================================================================== */


/*#container{
    margin:0 auto;
    width:1024px;
}*/

#content_container{
    width:100%;
    padding-top:50px;
    padding-bottom:50px;
    margin:0 auto;
}

nav li{
    display:inline;
}

.nav_link a{
    color:#001c2e;
    font-family:arvo,serif;
    border-left: 2px solid #001c2e;
}

h1, h2, h3, h4, h5, h6 {
    font-family:arvo, serif;
    color:#001c2e;
}

h1{
    font-size:2.25em;
}

h2{
    font-size:2em;
}

.fancy{
    font-family:arvo, serif;
}


/* ==========================================================================
   Header styles
   ========================================================================== */

header{
    background-color:#001c2e;
    height:60px;
    width:100%;
}

#header_bar{
    width:90%;
    margin:0 auto;
    height:50px;
    /*padding-top:10px;*/
}

#logo{
    float:left;
    border:1px dashed yellow;
    margin-top:3%;
    margin-left:4%;
    width:100%;
    height:100%;
}    

#title{
    float: left;
}


#nav_controls{
    float:right;
    margin-right:13%;
    padding-top:16px;
}

#nav_controls li a{
    padding:5px;
}

#nav_main{
    margin:0 auto;
    text-align:center;
    margin-top:15px;
}

#nav_main li a{
    margin-left:10px;
    margin-right:5px;
    color:#001c2e;
    text-decoration: none;
    font-family: arvo,serif;
}

#nav_main li{
    border-left: 2px solid #001c2e;
}

#nav_main li:nth-child(1){
    border-left:none;
}

#nav_main a:hover{

    border-bottom:3px solid #001c2e;
}



/* ==========================================================================
   Footer styles
   ========================================================================== */

footer{
    height:70px;
    margin-bottom:25px;
    margin-top:30px;
    margin:0 auto;
    width:80%;
}

hr{
    width:60%;
    margin:0 auto;
    margin-bottom:10px;
}

#nav_footer{
    border:1px dashed blue;
    text-align:center;
}

#nav_footer li a{
    margin-left:10px;
    margin-right:5px;
    color:#001c2e;
    text-decoration: none;
    font-family: arvo,serif;
    font-size:0.813em; 
}

#nav_footer a:hover{
    border-bottom:3px solid #001c2e;

}

#nav_footer li{
    border-left: 2px solid #001c2e;
}

#nav_footer li:nth-child(1){
    border-left:none;
} 

#nav_social{
    margin-top:10px;
    margin-right:10px;
    float:right;
}

#nav_social img{
    padding-right:15px;
}

small{
    float:left;
    margin-left:20px;
    margin-top:20px;
    font-size: .5em;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 960px){
    h1{
        font-size:1.75em;
    }
    
    h2{
        font-size:1.5em;
    }
}

@media only screen and (max-width: 800px){

    h1{
        font-size: 1.4em;
    }
    h2{
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 640px){
    header{
        height:90px;
    }

    #headerbar{
        border:2px dashed yellow;
        width:80%;
        margin:0 auto;
    }

    #logo{
        margin:0;
    }

    #title{
        float:none;
        border:1px dashed green;
        height:80%;
        width:80%;
        margin:0 auto;
        /*margin-left:11%;*/
        padding-top:2%;
    }

    #nav_controls{
        float:none;
        border:1px dashed pink;
        padding:0;
        margin:0 auto;
        width:80%;
    }

    #nav_controls ul{
        width:80%;
        margin:0 auto;
    }

    #nav_main{
        border:1px dashed purple;
        margin-top:45px;
    }
}



































/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
